
**Data Types and Structures Questions**

1. What are data structures, and why are they important?
   - Data structures are ways to organize and store data efficiently so that operations like insertion, deletion, searching, and updating can be done effectively.

   **Importance:**
   - Efficient memory usage
   - Faster algorithms
   - Clean and manageable code
   - Used in real applications like databases, operating systems, compilers etc.

2. Explain the difference between mutable and immutable data types with examples.

   - Mutable: Values can be changed after creation.
   **Examples**: list, dict, set

   - Immutable: Values cannot be changed once created.
  **Examples:** int, str, tuple, float

3. What are the main differences between lists and tuples in Python?

| Feature      | List           | Tuple         |
|--------------|----------------|---------------|
| Mutability   | Mutable        | Immutable     |
| Syntax       | [1, 2, 3]      | (1, 2, 3)     |
| Performance  | Slower         | Faster        |
| Use Case     | Changing data  | Fixed data    |

**Explanation:**

- Lists are mutable, so we can change, add, or remove elements.
- Tuples are immutable, once created we cannot change the values.
- Tuples are generally faster than lists.
- Tuples are used for fixed data, like coordinates, whereas lists are used when data can change.

4.Describe how dictionaries store data.
 - Dictionaries store data in key-value pairs.
 - Each key maps to a specific value.
 - Internally, Python uses a hash table to manage dictionary keys for fast
      access.
      
   **Example:**  We can create a dictionary with a student's details:

In [ ]:
student = {'name': 'Amit', 'age': 20, 'city': 'Delhi'}

# Accessing values using keys
print("Student Name:", student['name'])
print("Student Age:", student['age'])
print("City:", student['city'])

Student Name: Amit
Student Age: 20
City: Delhi

5. Why might you use a set instead of a list in Python?
   - Sets do not allow duplicate values
   - Sets are unordered.
   - Sets are optimized for fast membership tests.
   - Useful when you want only unique items in your collection.

   **Example:**
   If we want to store only unique numbers from a list:

In [ ]:
# List with duplicates
data = [1, 2, 2, 3, 4, 4, 5]

# Convert list to set to remove duplicates
unique_data = set(data)

print("Original List:", data)
print("Unique Data (Set):", unique_data)

Original List: [1, 2, 2, 3, 4, 4, 5]
Unique Data (Set): {1, 2, 3, 4, 5}

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters enclosed in quotes (' ' or " "), whereas a list is a collection of various data types (including strings), enclosed in square brackets [ ].

 **Differences:**

| Feature      | String             | List                       |
| ------------ | ------------------ | -------------------------- |
| Data Type    | Text               | Any (int, str, float etc.) |
| Syntax       | `"Hello"`          | `["Hello", 123, 4.5]`      |
| Mutability   | Immutable          | Mutable                    |
| Index Access | Yes (e.g., `s[0]`) | Yes (e.g., `l[0]`)         |
| Methods      | String-specific    | List-specific              |

In [1]:
# String
s = "Hello"
print("First character in string:", s[0])

# List
l = ["Hello", 123, 4.5]
print("First element in list:", l[0])

First character in string: H
First element in list: Hello

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable, meaning once created, their data cannot be changed. This immutability ensures that data remains consistent and secure throughout the program.

In [2]:
# Tuple with user data
user_data = ('Vaibhav', 25, 'Male')

# Trying to change tuple element will raise error
# user_data[1] = 30  # ❌ This will throw: TypeError

print("Tuple Data:", user_data)

Tuple Data: ('Vaibhav', 25, 'Male')

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that maps keys to values using a hash function for fast access. In Python, dictionaries are implemented using hash tables.

In [3]:
# Dictionary (uses hash table internally)
student = {
    'name': 'Amit',
    'roll': 101,
    'marks': 95
}

print("Name:", student['name'])

Name: Amit

9. Can lists contain different data types in Python?
   - Yes, Python lists are heterogeneous, meaning they can contain different data types like int, str, float, boolean, etc.

In [4]:
mixed_list = [1, "Hello", 3.14, True]

for item in mixed_list:
    print(item, "=>", type(item))

1 => <class 'int'>
Hello => <class 'str'>
3.14 => <class 'float'>
True => <class 'bool'>

10. Explain why strings are immutable in Python.
    - Strings in Python are immutable, meaning their content cannot be changed once defined. This design ensures:

     - **Memory safety**

     - **Thread safety**

     - **Consistent hash values (important when used as dictionary keys)**

In [5]:
s = "Hello"

# s[0] = "h"  # ❌ Not allowed

# Instead, create a new string
s = "h" + s[1:]
print(s)

hello

  11: What advantages do dictionaries offer over lists for certain tasks?
    
        - Dictionaries offer key-based access, which is faster and more meaningful than using index numbers in lists.

 **Comparison:**

| Feature            | List                        | Dictionary                        |
|--------------------|------------------------------|------------------------------------|
| Data access        | By index                    | By key                            |
| Speed              | Slower for lookup/search    | Faster (O(1) average time)        |
| Key-value support  | No                          | Yes                               |
| Use case           | Ordered data                | Fast lookups, mappings            |

In [6]:
# Using a list
student_list = ['Amit', 20, 'Delhi']
print("Name from list:", student_list[0])  # No label for value

# Using a dictionary
student_dict = {'name': 'Amit', 'age': 20, 'city': 'Delhi'}
print("Name from dict:", student_dict['name'])  # Clear label

Name from list: Amit
Name from dict: Amit

12. Describe a scenario where using a tuple would be preferable over a list.
    - Use a tuple when you want to store constant, fixed, and unchangeable data — such as coordinates, RGB color values, or database keys.

In [7]:
# Tuple for coordinates
coordinates = (25.5, 77.3)

# List for shopping items
items = ["apple", "milk", "rice"]

print("Coordinates:", coordinates)

Coordinates: (25.5, 77.3)

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates. They only store unique elements, and they are unordered.

In [8]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print("Original List:", numbers)
print("After removing duplicates:", unique_numbers)

Original List: [1, 2, 2, 3, 4, 4, 5]
After removing duplicates: {1, 2, 3, 4, 5}

14. How does the “in” keyword work differently for lists and dictionaries?



| Feature             | List                          | Dictionary                           |
|---------------------|-------------------------------|---------------------------------------|
| Works on            | Values                        | Keys                                  |
| Example             | `"apple" in fruits_list`      | `"name" in student_dict`             |
| Speed               | Slower (O(n))                 | Faster (O(1) average using hash)     |

In [9]:
my_list = [1, 2, 3]
print(2 in my_list)  # True

my_dict = {'name': 'Amit', 'age': 20}
print('name' in my_dict)  # True
print('Amit' in my_dict)  # False (value, not key)

True
True
False

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot modify a tuple’s elements.
Tuples are immutable, meaning once created, their elements cannot be changed, added, or removed.

In [10]:
t = (1, 2, 3)
# t[0] = 10  # ❌ Error: TypeError

print("Original Tuple:", t)

Original Tuple: (1, 2, 3)

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary means a dictionary inside another dictionary.
It is used to represent complex hierarchical data, such as student records, company employees, etc.

In [11]:
students = {
    'A101': {'name': 'Amit', 'age': 20, 'city': 'Delhi'},
    'A102': {'name': 'Riya', 'age': 22, 'city': 'Mumbai'}
}

print("Name of A101:", students['A101']['name'])
print("City of A102:", students['A102']['city'])

Name of A101: Amit
City of A102: Mumbai

17. Describe the time complexity of accessing elements in a dictionary.
    - In Python, dictionaries are implemented using hash tables, so accessing elements using keys is very fast.  
  
  
| Operation           | Time Complexity |
|---------------------|-----------------|
| Access by key       | O(1)            |
| Insert or update    | O(1)            |
| Delete by key       | O(1)            |

18. In what situations are lists preferred over dictionaries?
    - Use lists when:

    - You need to maintain order of items.

    - You’re dealing with simple sequences.

    - You want to store duplicate values.

    - Keys/labels are not needed.

In [12]:
fruits = ['apple', 'banana', 'apple']  # duplicates allowed
print("First fruit:", fruits[0])

First fruit: apple

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
     - Earlier (before Python 3.7), dictionaries were unordered — meaning keys did not maintain insertion order.
Now in Python 3.7+, they do maintain order, but conceptually:

     - Dictionaries are optimized for fast key lookup, not position.

     - You cannot access items by index, like in lists.

  ** Effect:**
  You must always access values by key, not by their position.

In [13]:
person = {'name': 'Amit', 'age': 20}
print(person['name'])  # OK
# print(person[0])  ❌ Error: KeyError

Amit

20. Explain the difference between a list and a dictionary in terms of data retrieval.


| Feature           | List           | Dictionary                          |
|-------------------|----------------|--------------------------------------|
| Access method     | By index       | By key                               |
| Example           | list[0]        | dict['name']                         |
| Use case          | Ordered data   | Key-value mapping                    |
| Retrieval speed   | Slower         | Faster (O(1) average using hash table) |

In [14]:
# List
fruits = ['apple', 'banana']
print("First fruit:", fruits[0])  # index-based

# Dictionary
student = {'name': 'Amit', 'age': 20}
print("Student Name:", student['name'])  # key-based

First fruit: apple
Student Name: Amit


**Practical Questions**

1. Write a code to create a string with your name and print it.

In [15]:
name = "Vaibhav"
print("My name is:", name)

My name is: Vaibhav

2. Write a code to find the length of the string "Hello World".

In [16]:
text = "Hello World"
print("Length of string:", len(text))

Length of string: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [17]:
text = "Python Programming"
print("First 3 characters:", text[:3])

First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase.

In [18]:
text = "hello"
print("Uppercase:", text.upper())

Uppercase: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [19]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [20]:
numbers = [1, 2, 3, 4, 5]
print("List:", numbers)

List: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [21]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print("After appending:", numbers)

After appending: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [22]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("After removing 3:", numbers)

After removing 3: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [23]:
chars = ['a', 'b', 'c', 'd']
print("Second element:", chars[1])

Second element: b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [24]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [25]:
my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [26]:
colors = ('red', 'green', 'blue', 'yellow')
print("Second-to-last element:", colors[-2])

Second-to-last element: blue

13. Find the minimum number in the tuple (10, 20, 5, 15).

In [27]:
nums = (10, 20, 5, 15)
print("Minimum value:", min(nums))

Minimum value: 5

14. Find the index of element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [28]:
animals = ('dog', 'cat', 'rabbit')
print("Index of 'cat':", animals.index('cat'))

Index of 'cat': 1

15. Create a tuple of 3 fruits and check if "kiwi" is in it.

In [29]:
fruits = ("apple", "banana", "mango")
print("Is 'kiwi' in fruits?", "kiwi" in fruits)

Is 'kiwi' in fruits? False

16. Create a set with the elements 'a', 'b', 'c' and print it.

In [30]:
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'a', 'b', 'c'}

17. Clear all elements from the set {1, 2, 3, 4, 5}.

In [31]:
s = {1, 2, 3, 4, 5}
s.clear()
print("Set after clearing:", s)

Set after clearing: set()

18. Remove the element 4 from the set {1, 2, 3, 4}.

In [32]:
s = {1, 2, 3, 4}
s.remove(4)
print("Set after removing 4:", s)

Set after removing 4: {1, 2, 3}

19. Find the union of {1, 2, 3} and {3, 4, 5}.

In [33]:
a = {1, 2, 3}
b = {3, 4, 5}
print("Union:", a.union(b))

Union: {1, 2, 3, 4, 5}

20. Find the intersection of {1, 2, 3} and {2, 3, 4}.

In [34]:
a = {1, 2, 3}
b = {2, 3, 4}
print("Intersection:", a.intersection(b))

Intersection: {2, 3}

21. Create a dictionary with keys "name", "age", "city" and print it.

In [35]:
student = {'name': 'John', 'age': 25, 'city': 'Delhi'}
print("Student Dictionary:", student)

Student Dictionary: {'name': 'John', 'age': 25, 'city': 'Delhi'}

22. Add "country": "USA" to dictionary {'name': 'John', 'age': 25}.

In [36]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23. Access "name" from {'name': 'Alice', 'age': 30}.

In [37]:
person = {'name': 'Alice', 'age': 30}
print("Name:", person['name'])

Name: Alice

24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [38]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print("After removing age:", person)

After removing age: {'name': 'Bob', 'city': 'New York'}

25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}.

In [39]:
person = {'name': 'Alice', 'city': 'Paris'}
print("Is 'city' key present?", 'city' in person)

Is 'city' key present? True

26. Create a list, a tuple, and a dictionary and print them all.

In [40]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

27. Create a list of 5 random numbers (1–100), sort, and print.

In [41]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted Random Numbers:", numbers)

Sorted Random Numbers: [16, 26, 37, 41, 70]

28. Create a list with strings and print element at 3rd index.

In [42]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at index 3:", words[3])

Element at index 3: date

29. Combine two dictionaries into one and print.

In [43]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print("Combined Dictionary:", combined)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set.

In [44]:
words = ['apple', 'banana', 'apple', 'cherry']
unique_words = set(words)
print("Set:", unique_words)

Set: {'cherry', 'banana', 'apple'}